#############################################
# APP / BACKEND CONFIG
#############################################

# Porta exposta do backend no host
APP_PORT=3333

# Chave da aplicação usada pelo AdonisJS.
# Gere uma nova chave executando:
#     cd backend && node ace generate:key
APP_KEY=CHANGE_ME


#############################################
# POSTGRES CONFIG
#############################################

# Os valores abaixo devem ser os mesmos usados no backend/.env
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_DATABASE=joker_gen_ai


#############################################
# LOGGING
#############################################
LOG_LEVEL=info
