#############################################
# APP
#############################################
PORT=3333
HOST=0.0.0.0
NODE_ENV=development

# Copiar o MESMO valor de APP_KEY do .env da raiz
APP_KEY=CHANGE_ME


#############################################
# DATABASE
DB_CONNECTION=pg
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_DATABASE=joker_gen_ai


#############################################
# LOGGING
#############################################
LOG_LEVEL=info

# Padrão de formato de datas (opcional, mas comum)
TZ=UTC